@use  '../../assets/scss/index';

.link-div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    margin: 8px auto;

    max-width: 900px;

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: index.$dark-grey-color;

    div {
        border-top: 2px solid index.$dark-grey-color;

        width: 18%;
    }

    a {
        text-decoration: none;
        
        &:link {
            color: index.$main-green-color;
        }

        &:visited {
            color: index.$main-green-color;
        }
    }
}