@use  '../index';

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: index.$dark-green-color;

    .user-exists {
        position: relative;

        .default-input {
            outline: 1px solid index.$main-red-color;
        }

        &:before {
            position: absolute;
            bottom: -15px;
            content: "Um usuário com essa informação já existe";

            width: 100%;

            font-size: 11px;
        }
    }

    &.error {
        position: relative;

        .default-input {
            outline: 1px solid index.$main-red-color;
        }

        &:before {
            position: absolute;
            top: -15px;
            content: "Username ou senha incorretos";

            width: 100%;
            height: 10%;

            font-size: 11px;
        }
    }
}
